@use 'variables' as vars
@use 'breakpoint' as bp
@use 'slider'
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body
    font-family: "Inter", sans-serif
    font-optical-sizing: auto
    background-color: vars.$almost_white
    color: vars.$gun_metal
    font-style: normal

.fw400
    font-weight: 400

.fw600
    font-weight: 600

.fw700
    font-weight: 700

.fw800
    font-weight: 800

header, main, footer
    padding: 0 vars.$spacing_2

.nav
    display: flex
    justify-content: space-between
    position: relative
    padding: 1.75rem 0
    align-items: center

.nav_logo_wrap
    inline-size: 2.81rem



.menu_btn
    display: flex
    align-items: center
    justify-content: center
    background-color: transparent
    border: none
    cursor: pointer
    inline-size: 2.5rem
    block-size: 1.9rem
    
.nav_links_ul
    position: absolute
    left: -100%
    top: 0

.sr_only
    opacity: 0
    position: absolute

.open.hidden
    display: none

.close.hidden
    display: none

.attribution_h2
    text-align: center
    padding: 0.5rem vars.$spacing_3
    font-size: 0.875rem
    text-wrap: initial

.attribution a
    color: vars.$light_vermillion

@include bp.breakpoint(48rem)
    

@include bp.breakpoint(80rem)
    