$red: #D73C3C
$gray_900: #2A4144
$gray_500: #86A2A5
$green_600: #0C7D69
$green_200: #E0F1E8
$white: #fff
$black: #000
$spacing_1: 0.5rem
$spacing_1_5: 0.75rem
$spacing_2: 1rem
$spacing_3: 1.5rem
$spacing_4: 2rem
$spacing_5: 2.5rem
$base_border_radius: 0.5rem
$base_font_size: 1rem